:root {
    --commissioner: "Commissioner", sans-serif;
    --color-primary: hsl(176, 50%, 47%);
    --color-hover: hsl(176, 72%, 28%);
    --color-text-primary: hsl(0, 0%, 0%);
    --color-btn-text: hsl(0, 0%, 48%);
    --color-text-secundary: hsl(0, 0%, 100%);
    --color-circle: #2f2f2f;
}

/*MENU DE NAVEGACIO*/
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: #fafafa;
}

.navbar {
    display: flex;
    justify-content: end;
}

.logo {
    display: flex;
    position: absolute;
    top: 60px;
    z-index: 1;
    margin-left: 165px;
    /* width: 140px; */
}

.imgback {
    position: relative;
    width: 100%;
}

.items {
    display: flex;
    position: absolute;
    top: 60px;
    gap: 20px;
    margin-right: 180px;
}

.items li a {
    display: flex;
    color: var(--color-text-secundary);
    font-family: var(--commissioner);
    font-size: 13px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

/* .about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    background: rgba(60, 180, 172, 0.5);
    margin-top: -15px;
    border-radius: 5px;
    cursor: pointer;
} */
/*CUADRO UNO*/
.container-one {
    display: flex;
    justify-content: center;
}

.logo-m {
    position: absolute;
    z-index: 2;
    top: 275px;
}

.content {
    position: absolute;
    background: var(--color-text-secundary);
    width: 730px;
    height: 297px;
    margin: 0px auto;
    top: 300px;
    border-radius: 10px;
}

.subtitle {
    text-align: center;
    font-family: var(--commissioner);
    color: var(--color-text-primary);
    font-weight: 700;
    font-size: 28px;
    margin-top: 60px;
}

.text-one {
    text-align: center;
    margin-top: 35px;
    font-family: var(--commissioner);
    font-size: 16px;
    color: var(--color-btn-text);
}

.btn-open {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    width: 204px;
    height: 56px;
    border-radius: 33px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: var(--color-text-secundary);
    background: var(--color-primary);
    margin-left: 50px;
    cursor: pointer;
    padding: 0;
    position: relative;
    z-index: 3;
    transition: all 500ms;
}

.btn-open:hover {
    transition: all 500ms;
    background: var(--color-hover);
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    margin-top: -55px;
    cursor: pointer;
    padding: 0;
    position: relative;
}

.container-circle {
    width: 174px;
    height: 56px;
    background-color: rgba(122, 122, 122, 0.1);
    border-radius: 33px;
    margin-right: 50px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: var(--color-circle);
    border-radius: 50%;
}

/*PENDIENTE POR HACER EL HOVER*/
/* .circle:hover{
    transition: all 500ms;
    background: #707070;
} */
.text-circle {
    display: flex;
    text-align: center;
    font-family: var(--commissioner);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-btn-text);
    margin-left: 70px;
    margin-top: -40px;
}

/*SECCION DEL MODAL*/
.modal {
    display: flex;
    justify-content: space-between;
    width: 730px;
    height: 905px;
    position: absolute;
    background-color: var(--color-text-secundary);
    top: -95px;
    border: none;
    border-radius: 10px;
}

.text-modal-one{
    display: flex;
    font-size: 24px;
    margin-top: 45px;
    font-family: var(--commissioner);
    font-weight: bold;
    margin-left: 35px;
}
.material-symbols-outlined {
    cursor: pointer;
    margin-left: 430px;
    margin-top: 20px;
}
.text-modal-two{
    display: flex;
    position: absolute;
    top: 100px;
    font-size: 16px;
    margin-left: 48px;
    font-family: var(--commissioner);
    color: var(--color-btn-text);

}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    z-index: 4;
}

.modal {
    z-index: 5;
}

.hidden {
    display: none;
}
/*CARD MODAL UNO*/
.flex{
    display: flex;
    align-items: center;
    position: absolute;
}
.card-madal-one{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 634px;
    height: 157px;
    top: 155px;
    left: 50px;
    border-radius: 10px;
    border: 1px solid #a0a0a0;
}
.checkmark-uno{
    display: flex;
    margin-top: -20px;
    font-family: var(--commissioner);
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
}
.text-card-mondal-one{
    display: flex;
    font-size: 15px;
    color: var(--color-btn-text);
    font-family: var(--commissioner);
    width: 530px;
    height: 56px;
    margin-top: 10px;
    line-height: 30px;
    margin-left: 15px;
}
.input-one{
    display: flex;
    margin-top: -85px;
    margin-left: -40px;
    width: 15px;
    height: 15px;
}
/*CARD MODAL DOS*/
.card-madal-two{
    display: flex;
    position: absolute;
    width: 634px;
    height: 157px;
    top: 355px;
    left: 50px;
    border-radius: 10px;
    border: 1px solid #a0a0a0;
}
.card-input-two{
    display: flex;
    flex-direction: row;
}
.card-input-two p{
    margin: 0;
}
.checkmark-dos{
    display: flex;
    position: absolute;
    top: 30px;
    left: 50px;
    font-family: var(--commissioner);
    font-size: 16px;
    font-weight: bold;
}
.precio-dos{
    display: flex;
    position: absolute;
    top: 30px;
    left: 180px;
    font-family: var(--commissioner);
    font-size: 16px;
    color: var(--color-primary);
}
.cerouno{
    display: flex;
    position: absolute;
    top: 30px;
    left: 540px;
    font-size: 18px;
    font-family: var(--commissioner);
    font-weight: bold;
}
.left-two{
    display: flex;
    margin-top: 2px;
    margin-left: 10px;
    font-size: 15px;
    color: #a0a0a0;
    font-weight: 400;
    font-family: var(--commissioner);
}
.input-two{
    display: flex;
    margin-top: 30px;
    margin-left: 15px;
    width: 15px;
    height: 15px;
}

.text-card-mondal-two{
    display: flex;
    position: absolute;
    font-size: 15px;
    color: var(--color-btn-text);
    font-family: var(--commissioner);
    width: 530px;
    height: 56px;
    top: 70px;
    left: 50px;
    line-height: 30px;
}
/* .price-enter{
    display: flex;
    flex-direction: row;
} */
/*CUADRO DOS*/
.container-two {
    display: flex;
    justify-content: center;
}

.content-one {
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    position: absolute;
    width: 730px;
    height: 212px;
    background: var(--color-text-secundary);
    margin-top: 220px;
    border-radius: 10px;
    border: 1px solid #979797;
}

.stat {
    margin-left: 60px;
}

.separator {
    width: 1px;
    height: 63px;
    background: #979797;
    margin: 0px 40px;
    margin-top: -50px;
}

.price-one,
.price-two,
.price-three {
    font-family: var(--commissioner);
    font-size: 32px;
    color: var(--color-text-primary);
    font-weight: bold;
    margin-top: -50px;
}

.text-price-one,
.text-price-two,
.text-price-three {
    font-family: var(--commissioner);
    font-size: 16px;
    font-weight: 400;
    color: #979797;
    margin-top: 10px;
}

.barra {
    display: flex;
    position: absolute;
    margin-left: 50px;
    margin-top: 120px;
}

.barra-primary {
    width: 634px;
    height: 12px;
    background: rgba(151, 151, 151, 0.2);
    top: 150px;
    border-radius: 33px;
}

.barra-second {
    display: flex;
    position: absolute;
    width: 496px;
    height: 12px;
    background: var(--color-primary);
    border-radius: 33px;
}

/*CUADRO TRES*/
.container-three {
    display: flex;
    justify-content: center;
}

.content-three {
    width: 730px;
    height: 1300px;
    background: var(--color-text-secundary);
    margin-top: 460px;
    margin-bottom: 70px;
    border-radius: 10px;
    border: 1px solid #979797;
}

.text-three {
    font-family: var(--commissioner);
    font-size: 20px;
    font-weight: bold;
    padding: 50px;
}

.text-for {
    display: flex;
    width: 634px;
    height: 248px;
    font-family: var(--commissioner);
    font-size: 16px;
    color: var(--color-btn-text);
    top: 105px;
    margin-left: 45px;
    line-height: 30px;
}

/*TARJETA UNO*/
.card-one {
    border: 1px solid #7a7a7a;
    width: 634px;
    height: 248px;
    margin: 0px auto;
    border-radius: 10px;
}

.text-bam {
    padding: 30px;
    font-family: var(--commissioner);
    font-size: 18px;
    font-weight: bold;
}

.texto-card-one {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -76px;
    padding: 30px;
    font-family: var(--commissioner);
    font-size: 15px;
    font-weight: 500;
    color: var(--color-primary);
}

.ergonomic {
    display: flex;
    margin: 0px auto;
    width: 570px;
    height: 60px;
    margin-top: -65px;
    font-family: var(--commissioner);
    font-size: 16px;
    color: var(--color-btn-text);
    line-height: 30px;
}

.numero-one {
    display: flex;
    font-family: var(--commissioner);
    font-size: 32px;
    font-weight: bold;
    padding: 33px;
}

.span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--color-btn-text);
    font-family: var(--commissioner);
    font-weight: 300;
    margin-left: 10px;
}

.btn-two {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 48px;
    border-radius: 33px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-text-secundary);
    background: var(--color-primary);
    cursor: pointer;
    margin-top: -70px;
    margin-left: 446px;
    transition: all 500ms;
}

.btn-two:hover {
    cursor: pointer;
    transition: all 500ms;
    background: var(--color-hover);
}

.card-two {
    border: 1px solid #7a7a7a;
    width: 634px;
    height: 248px;
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 50px;
}

.text-edition {
    padding: 30px;
    font-family: var(--commissioner);
    font-size: 18px;
    font-weight: bold;
}

.card-three {
    border: 1px solid #7a7a7a;
    width: 634px;
    height: 248px;
    margin: 0px auto;
    border-radius: 10px;
    margin-top: 50px;
}

.text-mahogany {
    padding: 30px;
    font-family: var(--commissioner);
    font-size: 18px;
    font-weight: bold;
    color: rgba(151, 151, 151, 0.6);
}

.texto-card-three {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -76px;
    padding: 30px;
    font-family: var(--commissioner);
    font-size: 15px;
    font-weight: 500;
    color: rgba(60, 179, 171, 0.4);
}

.member {
    display: flex;
    margin: 0px auto;
    width: 570px;
    height: 60px;
    margin-top: -65px;
    font-family: var(--commissioner);
    font-size: 16px;
    color: var(--color-btn-text);
    line-height: 30px;
    color: rgba(151, 151, 151, 0.6);
}

.numero-cero {
    display: flex;
    font-family: var(--commissioner);
    font-size: 32px;
    font-weight: bold;
    padding: 33px;
    color: rgba(151, 151, 151, 0.6);
}

.span-left {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: var(--color-btn-text);
    font-family: var(--commissioner);
    font-weight: 300;
    margin-left: 10px;
    color: rgba(151, 151, 151, 0.6);
}

.btn-three {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 157px;
    height: 48px;
    border-radius: 33px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    color: var(--color-text-secundary);
    background: rgba(151, 151, 151, 0.4);
    cursor: pointer;
    margin-top: -70px;
    margin-left: 446px;
}