:root{
    --commissioner: "Commissioner", sans-serif;
    --color-primary: hsl(176, 50%, 47%);
    --color-hover: hsl(176, 72%, 28%);
    --color-text-primary: hsl(0, 0%, 0%);
    --color-btn-text: hsl(0, 0%, 48%);
    --color-text-secundary: hsl(0, 0%, 100%);
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: end;
}
.logo{
    display: flex;
    position: absolute;
    top: 120px;
    z-index: 1;
}
.imgback{
    position: relative;
    width: 100%;
    z-index: -1;
}
.items{
    display: flex;
    position: absolute;
    top: 60px;
    gap: 20px;
    margin-right: 217px;
}
.items li a{
    display: flex;
    color: var(--color-text-secundary);
    font-family: var(--commissioner);
    font-size: 13px;
    font-weight: 400;
}
a{
    text-decoration: none;
}
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 45px;
    background: rgba(60, 180, 172, 0.5);
    margin-top: -15px;
    border-radius: 5px;
    cursor: pointer;
}
